header.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

header > section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

header > section > div {
    display: flex;
    align-items: center;
    color: var(--general-texts);
    gap: 2px;
    cursor: pointer;
    transition: 0.4s;
}

header > section > div > p {
    font-weight: 800;
}

header > section > div > svg:last-child {
    transform: rotate(90deg);
}

header > section > div:hover {
    color: var(--white);
}



.banner {
    background: url(../imgs/header.jpg) no-repeat center;
    background-size: cover;
    height: 296px;
}

.banner div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    gap: 25px;
}

.banner div h3 {
    font-size: 22px;
    font-weight: 500;
}

.banner div a {
    background: var(--primary);
    padding: 10px 15px;
    color: var(--white);
    font-weight: 500;
    border-radius: 3px;
    transition: 0.4s;
}

.banner div a:hover {
    background: var(--primary-hover);
}


@media(max-width: 1000px) {

    .banner {
        background: url(../imgs/header-mobile.jpg) no-repeat center;
        background-size: cover;
        height: 296px;
        margin-bottom: 105px;
    }

    .banner div.container {
        align-items: center;
        gap: 10px;
        position: relative;
        bottom: -185px;
        height: 250px;
        background: linear-gradient(180deg, rgba(11, 4, 24, 0) 0%, rgba(11, 4, 24, 0.56) 15.62%, #0B0418 31.7%, #0B0418 63.1%, rgba(11, 4, 24, 0.12) 81.15%, rgba(11, 4, 24, 0) 100%);
        max-width: 100%;
        margin: 0;
    }
    
    .banner div h3 {
        text-align: center;
        font-size: 16px;
    }
    
}

@media(max-width: 450px) {

    header.container {
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        padding: 35px;
    }
}